<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="card" style="width: 28rem;">
    <div class="card-body">
      <div class="instagram-logo-link"></div>
      <p class="text-center text-body-tertiary fs-6 fw-semibold">"Sign up to see photos and videos from your friends"</p>
    </div>
  </div>
</div>